<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyFinanceSaver</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <header>
        <h1>MyFinanceSaver</h1>
        <nav class="desktop-nav">
            <a href="#">Dashboard</a>
            <a href="#">Relatórios</a>
            <a href="#">Configurações</a>
            <a href="/logout">Sair</a>
        </nav>
        <button class="mobile-nav-toggle"><i class="fas fa-bars"></i></button>
    </header>

    <div class="mobile-nav">
        <button class="close-nav-button"><i class="fas fa-times"></i></button>
        <a href="#">Dashboard</a>
        <a href="#">Relatórios</a>
        <a href="#">Configurações</a>
        <a href="/logout">Sair</a>
    </div>

    <main>
        <section class="summary">
            <h2>Resumo</h2>
            <div class="summary-cards">
                <div class="card">
                    <h3>Saldo Atual</h3>
                    <p id="current-balance">R$ {{ total_amount['total-amount'] }}</p>
                </div>
                <div class="card income">
                    <h3>Receitas do Mês</h3>
                    <p class="income-text" id="income">R$ {{ total_amount['total_incomes'] }}</p>
                </div>
                <div class="card expense">
                    <h3>Despesas do Mês</h3>
                    <p class="expense-text" id="expense-month">R$ {{ total_amount['total_expenses'] }}</p>
                </div>
            </div>
        </section>

        <section class="new-transaction">
            <h2>Adicionar Nova Transação</h2>
            <form id="transaction-form" action="/items/send-item" method="post">
                <div class="form-group">
                    <label for="category">Categoria</label>
                    <input type="text" id="category" name="category" placeholder="Ex: Salário, Aluguel" required>
                </div>
                <div class="form-group">
                    <label for="amount">Valor</label>
                    <input type="number" id="amount" name="value" placeholder="0,00" step="0.010" required>
                </div>
                <div class="form-group">
                    <label for="type">Tipo</label>
                    <select id="type" name="type" required>
                        <option value="receita">Receita</option>
                        <option value="despesa">Despesa</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="date">Data</label>
                    <input type="date" id="date" name="date_item" required>
                </div>
                <button type="submit">Adicionar</button>
            </form>
        </section>

        <section class="transactions">
            <h2>Últimas Transações</h2>
            <table id="transactions-table">
                <thead>
                    <tr>
                        <th data-label="Descrição">Descrição</th>
                        <th data-label="Valor">Valor</th>
                        <th data-label="Tipo">Tipo</th>
                        <th data-label="Data">Data</th>
                        <th data-label="Ações">Ações</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {% for item in items %}
                        <tr id="{{ item.id }}">
                            {% if item.type == 'receita' %}
                                {% set valueColor = 'green' %}
                            {%else%}
                                {% set valueColor = 'red' %}
                            {% endif %}
                            <td data-label="Descrição">{{ item.category }}</td>
                            <td data-label="Valor" style="color: {{ valueColor }}">R$ {{ item.value }}</td>
                            <td data-label="Tipo">{{ item.type }}</td>
                            <td data-label="Data">{{ item.date_item }}</td>
                            <td data-label="Ações">
                                <button class="edit-button">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </button>
                                <button class="delete-button">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        <p>&copy; 2026 Meu Organizador Financeiro. Todos os direitos reservados.</p>
    </footer>
<script src="/static/js/script.js"></script>
</body>
</html>
